---
const description = "404";
import '../styles/global.css';
const languageContent = await import(`../locales/${Astro.preferredLocale ? Astro.preferredLocale : Astro.currentLocale}/pages.js`);
---
<layout>
    <div class="lost">
        <div class="gif">
            <img width="300" height="259" alt="Raccoon404Gif" src="/404.webp"/>
        </div>
        <h1 class="lost__header">{ description }</h1>
        <p class="lost__body">{languageContent.navigation.body}</p>
        <p>
            <a class="lost__link" href="/">{languageContent.navigation.return}</a>
        </p>
    </div>
</layout>

